*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

input, textarea, select, button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-inline-size: 100%;
  block-size: auto;
  border-radius: 1rem 1rem 0 0;
}

:root {
  --Purple-50: hsl(260, 100%, 95%);
  --Purple-300: hsl(264, 82%, 80%);
  --Purple-500: hsl(263, 55%, 52%);
  --White: hsl(0, 0%, 100%);
  --Grey-100: hsl(214, 17%, 92%);
  --Grey-200: hsl(0, 0%, 81%);
  --Grey-400: hsl(224, 10%, 45%);
  --Grey-500: hsl(217, 19%, 35%);
  --Dark-blue: hsl(219, 29%, 14%);
  --Black: hsl(0, 0%, 7%);
  --Body-font-size: 13px;
  --Background-white: hsl(0, 0%, 96%);
}

.barlow-semi-condensed-medium {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.barlow-semi-condensed-semibold {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}

body {
  background-color: var(--Background-white);
  display: grid;
  place-items: center;
  min-height: 100vh;
}

main {
  display: grid;
  height: 80vh;
  gap: 2rem;
  padding: 4rem 2rem;
}
main .card:nth-child(1) {
  background-color: var(--Purple-500);
  color: var(--White);
}
main .card:nth-child(1) img {
  border: 2px solid var(--Purple-300);
}
main .card:nth-child(2) {
  background-color: var(--Grey-500);
  color: var(--White);
}
main .card:nth-child(2) img {
  border: 2px solid var(--Grey-100);
}
main .card:nth-child(3) {
  background-color: var(--White);
}
main .card:nth-child(3) img {
  border: 2px solid var(--Background-white);
}
main .card:nth-child(4) {
  background-color: var(--Dark-blue);
  color: var(--White);
}
main .card:nth-child(4) img {
  border: 2px solid var(--Purple-500);
}
main .card:nth-child(5) {
  background-color: var(--White);
}
main .card:nth-child(5) img {
  border: 2px solid var(--Background-white);
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 2.25rem;
  border-radius: 0.5rem;
  background-color: var(--White);
  box-shadow: 2rem 2.5rem 2rem 8px hsla(219, 29%, 14%, 0.2);
  max-width: 19.5rem;
}
.card h1, .card h2 {
  opacity: 0.85;
}
.card h2 {
  line-height: 1.15;
  font-size: 1.25rem;
  font-family: var(--barlow-semi-condensed-medium);
}
.card p {
  font-size: var(--Body-font-size);
  opacity: 0.75;
}
.card .card-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  line-height: 1.25;
}
.card .card-header img {
  border-radius: 50%;
  width: 2rem;
}
.card .card-header h1 {
  font-size: 0.875rem;
}
.card .card-header h1 > span:last-child {
  font-size: 0.75rem;
}

@media screen and (min-width: 48rem) {
  main {
    grid-template-areas: "a a b e" "c d d e";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 63vw;
  }
  main .card:nth-child(1) {
    grid-area: a;
  }
  main .card:nth-child(2) {
    grid-area: b;
  }
  main .card:nth-child(3) {
    grid-area: c;
  }
  main .card:nth-child(4) {
    grid-area: d;
  }
  main .card:nth-child(5) {
    grid-area: e;
  }
  .card {
    max-width: none;
  }
}

/*# sourceMappingURL=styles.css.map */
